<div data-role="collapsible" data-collapsed="true">
	<h3>What is this service?</h3>
	<p>Where’s My School Bus allows guardians of Boston Public School students to see on a map where their children’s school buses are in the city.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
	<h3>Is the location of the bus on the map always accurate?</h3>
	<p>No.</p>
  <p>The location of the bus on the map comes from the school bus’s GPS (Global Positioning System) device.  For a number of reasons, that device can occasionally fail to work.  Consequently, the school bus will occasionally be in a different location than the one presented on the map.</p>
  <p>Occasionally, BPS Transportation must make bus substitutions due to repairs, route changes, or weather disruptions. If a different bus was substituted for your student’s normally assigned bus, you may not see the location of the bus your student is actually riding.</p>
  <p>If you need to confirm a bus location, you can all the BPS Transportation Hotline at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>My student is supposed to be on a bus that hasn’t moved recently on the map. Why is that?</h3>
  <p>There are several reasons why a bus may not move on the map.</p>
  <p>Occasionally, BPS Transportation must make bus substitutions due to repairs, route changes, or weather disruptions. If a different bus was substituted for your student’s assigned bus, you may instead see the stationary location of your student’s normally assigned bus, rather that the bus he or she is actually riding.</p>
  <p>Additionally, sometimes the GPS (Global Positioning System) device on a bus can fail to work. If this occurs, the school bus may not appear on the map, or may appear in an inaccurate location. Rest assured that BPS Transportation is working as quickly as possible to restore GPS functionality.</p>
  <p>If you need to confirm a bus location, you can all the BPS Transportation Hotline at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>What is the black line on the map behind the bus?</h3>
  <p>The black line behind a bus shows its previous location over the past 30 minutes. This line allows you to see a bus’s recent route and approximate rate of travel. If the bus has not moved in the last 30 minutes, you will not see a line on the map.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>How do I sign up to see a specific bus?</h3>
  <p>If you are the guardian of a BPS student, you can sign up by calling the BPS Transportation Hotline at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m. 
  You will need to provide the hotline operator with the following pieces of information: XYZ etc</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>What if I don’t know my student’s bus number?</h3>
  <p>The staff of the BPS Transportation Hotline can tell you what your student’s bus number is.  The BPS Transportation Hotline is at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>How many buses can I sign up to track?</h3>
  <p>This application is a service only for the immediate guardians of BPS parents.  You will be able to track all of the buses assigned to the students for whom you are the guardian, but only those buses.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>Who else can see what bus numbers I signed up for?</h3>
  <p>BPS Transportation Staff are the only people that can see that information.  Your name, password and bus numbers associated with your account are otherwise private and will not be shared.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>What if my student’s bus or bus number changes either permanently or for a particular day?</h3>
  <p>If your student will be taking a different bus to or from school on a permanent basis, simply call the Transportation Hotline at (617) 635-9520 and ask for them to change the bus you can see in this application.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
  <p>If your student will riding a different bus for just one day, we will be unable to update the change for that day to allow you to track the new bus.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>What if I forget my password?</h3>
  <p>You can reset your password by going to the “Sign-In” page on the application and clicking “Forgot your password?”</p>
  <p>Alternatively, you can call the BPS Transportation Hotline at (617) 635-9520, who can delete and recreate your account.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>Do I have to sign up each year?</h3>
  <p>Yes.  At the beginning of every school year, you will have to sign up again, by calling the BPS Transportation Hotline. The BPS Transportation Hotline is at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
  <h3>Any other questions?</h3>
  <p>Call the BPS Transportation Hotline at (617) 635-9520.  The hotline is available Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
</div>
