<div data-role="collapsible" data-collapsed="true">
	<h3>Question One</h3>
	<p>I'm the collapsible content. By default I'm open and displayed on the page, but you can click the header to hide me.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
	<h3>Question Two</h3>
	<p>I'm the collapsible content. By default I'm open and displayed on the page, but you can click the header to hide me.</p>
</div>
<div data-role="collapsible" data-collapsed="true">
	<h3>Question Three</h3>
	<p>I'm the collapsible content. By default I'm open and displayed on the page, but you can click the header to hide me.</p>
</div>