<div data-role="page" data-theme="b" id="help"> 
  <div data-role="header">
    <h1>Help</h1>
    <a href="#home" data-role="button" data-icon="arrow-l" data-transition="reverse slide">Buses</a>
  </div>
  <div data-role="content" data-theme="c">
    <%= render :partial => 'faq' %>
  </div>
</div>