<div data-role="page" data-theme="c"> 
 
	<div data-role="header" data-theme="e" data-backbtn="false"> 
		<h1>Updated successfully!</h1> 
	</div>
 
	<div data-role="content" data-theme="c"> 
		
			<p>Your nicknames were saved successfully.</p>
			
			<a data-role="button" class="go_home">Go Back</a>
 
	</div>
</div>