<span class="warning">Warning: this will remove all the buses from all the users in the database, and is NOT reversible.</span>
<div class="warning_confirm"><%= link_to 'I understand and want to delete all buses »',destroy_all_busses_path, :confirm => 'Are you really sure? This cannot be undone.', :method => :delete, :class => "warning_confirm_text" %></div>