<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
  <!-- Change this if you want to allow scaling -->
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet"  href="stylesheets/jquery.mobile-1.0a4.1.min.css" />
  
  <style type="text/css">
    #icon-container{
      margin-top: 4em;
      text-align:center;
    }
    #buttons{
      margin-top: 1em;
    }
    #buttons a{
      margin: 3em 0;
    }
    .centered{
      text-align: center;
    }
    .centeredAudio{
      margin-top: 4em;
      text-align: center;
    }
    #map_canvas { height: 330px; width: 100%; margin: 0px; padding: 0px }
  </style>
  
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/jquery.mobile-1.0a4.1.min.js"></script>       
  <script src="javascripts/mustache.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://maps.google.com/maps/api/js?sensor=true"> </script> 
  <script src="javascripts/geojson-to-google-maps.js"></script>  
  
  <script type="text/javascript" charset="utf-8">
    var busses = JSON.parse('<%= @busses.to_json.html_safe %>');
    var pictureSource;   // picture source for iPhone
    var useragent; // string determining what our user agent is  
    var media;
       
    $(function() {
      showMap(busses);
    })
  
    function getFleet() {
      $.mobile.pageLoading();
      $.ajax({
       url: fleetUrl,
       dataType: 'jsonp',
       success: function(data) {
         $.mobile.pageLoading(true);
         var tmpl = $('#listTemplate').text();
         data = data['assetlist'];
         $('#fleetList').html(Mustache.to_html(tmpl, data)).listview('refresh');
       }
     });
    }
    
    function getBus(fleetId) {      
      $.ajax({
        url: busUrl(fleetId.replace(' ', '%20')),
        dataType: 'jsonp',
        success: function(data) {
          var data = data['currentlocations']['asset'];
          showMap(data['lat'], data['long']);
        }
      });
    }
    
    function showMap(features) {
      var firstPoint = features[0].geometry.coordinates;
      var geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(firstPoint[1], firstPoint[0]);
      var address;        
      var myOptions = {
        center: latlng,
        zoom: 13,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
      
      if (navigator.geolocation) {
        var timeoutVal = 10 * 1000 * 1000;
        navigator.geolocation.getCurrentPosition(showPositionOnMap, errorMessage,{ enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0});
      }
      else {
        console.log("Geolocation is not supported by this browser");
      }

      function showPositionOnMap(position) {
        var userPoint = new GeoJSON({
          type: "Point",
          coordinates: [position.coords.longitude, position.coords.latitude]
        }, {
          icon: "/images/user-location.png"
        });
        userPoint.setMap(map);
      }

      function errorMessage(error) {
        var errors = { 
          1: 'Permission denied',
          2: 'Position unavailable',
          3: 'Request timeout'
        };
        console.log("Error: " + errors[error.code]);
      }
      
      var busStyle = {
        icon: "/images/point.png",
        shadow: "/images/shadow.png"
      };
      
      $.each(features, function(i, feature) {
        var gPoint = new GeoJSON(feature, busStyle);
        gPoint.setMap(map);          
        google.maps.event.addListener(gPoint, 'click', function() {
          var url = "/busses/" + feature.properties.fleet;
          $('.ui-content').append('<a class="dialog" href="' + url + '" data-rel="dialog" data-transition="flip"></a>')
          $('.dialog').click().remove();
        });
      })

    };    
  </script>
  </head>
  <body>
    <div data-role="page" data-theme="c" id="map">    
      <div data-role="header">
        <h1>Bus Location</h1>
      </div>
      <div data-role="content">
        <div id="map_canvas"></div>
      </div>
    </div>
  </body>
</html>
