<div data-role="page" data-theme="c" id="map" fleet="<%= @bus[:properties]['fleet'] %>">    
  <div data-role="header">
    <h1>Bus Location</h1>
  </div>
  <div data-role="content">
    <div id="map_canvas"></div>
  </div>
</div>