#icon-container{
  margin-top: 4em;
  text-align:center;
}
#buttons{
  margin-top: 1em;
}
#buttons a{
  margin: 3em 0;
}
.centered{
  text-align: center;
}
.centeredAudio{
  margin-top: 4em;
  text-align: center;
}
#map_canvas { height: 330px; width: 100%; margin: 0px; padding: 0px }

/* Fix text overflow on FAQ */
.ui-btn-inner { white-space: normal; }