<span class="warning">Warning: this will delete all the users in the database and is NOT reversible.</span>
<div class="warning_confirm"><%= link_to 'I understand and want to delete all users »', destroy_all_users_path, :confirm => 'Are you really sure? This cannot be undone.', :method => :delete, :class => "warning_confirm_text" %></div>