<h1>Warning, this will really delete all the users in the database. it is not reversable.</h1>
<%= link_to 'DELETE ALL USERS', destroy_all_users_path, :confirm => 'Are you sure?', :method => :delete %>