<p id="notice"><%= notice %></p>

<div id="edit_user_page" class="user_page">
  <div class="user_links">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
