<% content_for :signin_path do %>
  <%= link_to "User Sign In", new_user_session_path, {:class => "sign_in_out button dark"} %>
<%end%>

<div id="left_splash_containter">
  <img class="screenshot" src="/images/screenshot.png"/>
</div>

<h1>Where's My School Bus</h1>
<div class="splash_info">
  <h2 class="break" >Real-time school bus locations anytime, anywhere.</h1>
   <br> 
  Where’s My School Bus makes real-time bus information available online for parents and guardians in Boston Public Schools. Your student’s bus is displayed on a detailed map, showing both its recent and current location. Waiting at the stop for a late bus? Blizzard got traffic moving at a crawl? Use your smartphone or computer to instantly check the bus location. Tracking your student’s bus has never been easier, faster or more accurate.
   <br>  <br> 
  <h2 class="break">To Create an Account </h1>
   <br> 
    <h6 class="break">
      Contact the Transportation Department
       (617) 635-9520.<br>
       Monday through Friday: 
     8:30 a.m. - 5:00 p.m. </h1>
  <br>
  <ul class="list-tick">
    <li>After guardian is verified, BPS operator verbally collects email address of guardian and creates account.</li>
    <li>You will receive an email containing a link to activate your account. After signing up, guardian can track only the bus numbers in account.</li>
    <li>To edit or change the bus numbers displayed in the application, you must call BPS.</li>
  </ul>
<br>
  <%= link_to "User Sign In", new_user_session_path, {:class => "button"} %>