<% content_for :signin_path do %>
  <%= link_to "user sign in", new_user_session_path, {:class => "sign_in_out"} %>
<%end%>

<h1>Where's My School Bus</h1>
<h2 class="break" >Real-time school bus locations anytime, anywhere.</h1>
 <br> 
Where’s My School Bus makes real-time bus information available online for parents and guardians in Boston Public Schools. Your student’s bus is displayed on a detailed map, showing both its recent and current location. Waiting at the stop for a late bus? Blizzard got traffic moving at a crawl? Use your smartphone or computer to instantly check the bus location. Tracking your student’s bus has never been easier, faster or more accurate.
 <br>  <br> 
<h2 class="break">To Create an Account </h1>
 <br> 
Contact the Transportation Department
(617) 635-9520.
 <br> 
Monday through Friday: 
8:30 a.m. - 5:00 p.m.
 <br> <br>
● After guardian is verified, BPS operator verbally collects email address of guardian and create account.
 <br> 
● You will receive and email containing a link to activate your account. After signing up, guardian can track only the bus numbers in account.
 <br> 
● You can add nicknames to busses. To modify the bus numbers displayed in account, you must call BPS.
