<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Where's My School Bus App Verification</title>

<style type="text/css">
strong{
	font-variant: small-caps;
	text-transform: lowercase;
	color:#949494;
}
</style>

</head>

<body marginheight="0" topmargin="0" marginwidth="0" leftmargin="0" style="margin: 0px; background-color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; text-shadow: #000000;">
<!--100% body table-->
<table cellspacing="0" border="0" bgcolor="#ffffff" style="margin: 0; padding: 0; border: 0;" width="100%" cellpadding="0">
  <tr style="margin: 0; padding: 0; border: 0;">
    <td align="center" style="margin: 0; padding: 0; border: 0;">
    <!--email container-->
    	<table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0; background: url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/bg.jpg);" bgcolor="#797979" width="805" cellpadding="0">
    		<tr height="76" style="margin: 0; padding: 0; border: 0;">
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/top-1.jpg);" width="102">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/top-2.jpg);" width="601">
    				<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
						<tr height="30" style="margin: 0; padding: 0; border: 0;">
							<td style="margin: 0; padding: 0; border: 0;" width="46"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="508"></td>
							<td style="margin: 0; padding: 0; border: 0;" width="47"></td>
						</tr>
						<tr style="margin: 0; padding: 0; border: 0;">
							<td height="50" style="margin: 0; padding: 0; border: 0;"></td>
							<td align="center" style="padding: 0; font-size: 12px; line-height: 16px; border: 0; color: #EDEDED; margin: 0; font-famiy:Helvetica,Arial,sans-serif">&nbsp;</td>
							<td style="margin: 0; padding: 0; border: 0;"></td>
						</tr>
						<tr height="18" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
					</table>
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/top-3.jpg);" width="102">
    			</td>
    		</tr>
    		<tr height="67" style="margin: 0; padding: 0; border: 0;">
    			<td height="75" style="margin: 0; padding: 0; border: 0;">
    			</td>
    			<td style="border: 0; padding: 0; color: #f9f9f9; margin: 0; background: #B9B9B9 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/header.jpg) no-repeat;" bgcolor="#B9B9B9" width="601"><div style="height:67px;">
    				<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
    					<tr style="margin: 0; padding: 0; border: 0;">
    					  <td height="75" style="margin: 0; padding: 0; border: 0;">&nbsp;</td>
    					  <td style="margin: 0; padding: 0; border: 0;"><img src="Projects/GreatDebate/greatdebate/wmsb_emaillogo.png" width="108" height="50" align="baseline"></td>
  					  </tr>
    					<tr style="margin: 0; padding: 0; border: 0;">
    						<td width="471" height="75" style="margin: 0; padding: 0; border: 0;"><table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
    							<tr height="55" style="margin: 0; padding: 0; border: 0;">
    								<td style="margin: 0; padding: 0; border: 0;" width="49"></td>
    								<td style="margin: 0; padding: 0; border: 0;" align="left" width="402"><h1 style="padding: 13px 0 0 0; margin: 0; font-size: 35px; font-weight: bold; border: 0; color:#f9f9f9; font:Helvetica; font-family:Helvetica, sans-serif; text-shadow: #000000;">Account Created</h1></td>
							  </tr>
    							</table></td>
   						  <td style="margin: 0; padding: 0; border: 0;" width="130"><table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0">
    							<tr style="margin: 0; padding: 0; border: 0;">
    							  <td align="left" style="margin: 0; padding: 0; border: 0;"><br>  							    </td>
  							  </tr>
						    </table></td>
					  </tr>
				  </table>
		    </div></td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr style="padding: 0; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; border: 0; color: #8e8e8e; margin: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #E4E4E4 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/bodybg.jpg);" bgcolor="#E4E4E4" width="601">
    			
    			<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
					<tr height="20" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;" width="47"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;" width="29"></td>
					</tr>
					<tr style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0; color:#8E8E8E; font-family: Helvetica, Arial, sans-serif; font-size:14px; line-height:21px;" align="left">
							<table cellspacing="0" border="0" style="margin: 0; padding: 0; border: 0;" cellpadding="0" align="left">
						
							</table>
			      </td>
						<td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
					<tr height="25" style="margin: 0; padding: 0; border: 0;">
						<td style="margin: 0; padding: 0; border: 0;"></td>
						<td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td>
					</tr>
				
				<tr style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;" width="47"></td>
					<td style="padding: 20px 0 0; border: 0; margin: 0; background: url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/storybg.jpg) no-repeat; color: #8E8E8E; font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:21px;" align="left" width="525">
						<table height="415" border="0" align="left" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0; border: 0;">
								<tr style="margin: 0; padding: 0; border: 0;">
								  <td height="50" style="margin: 0; padding: 0; border: 0;"><h2 style="font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family:Helvetica, Arial, sans-serif">Click to activate... </h2>
                                    <p style="font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family:Helvetica, Arial, sans-serif">&nbsp;</p>
                                  <p style="font-size: 24px; font-weight: bold; border: 0; color: #767676; display: inline; padding: 0; margin: 0; font-family:Helvetica, Arial, sans-serif"></p></td>
						  </tr>
								<tr style="margin: 0; padding: 0; border: 0;">
									<td width="576" height="34" style="margin: 0; padding: 0; border: 0;"><span style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">Hello <%= @resource.email %>,</span></td>
								</tr>
								<tr style="margin: 0; padding: 0; border: 0;">
									<td height="257" align="right" style="margin: 0; padding: 0; border: 0;"><p align="justify" style="margin: 0; padding: 0; font-size: 15px; padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#949494">Thank you for your call, you are now one click away from setting up your acount. You have successfully registered for the &quot;Where's My School Bus App&quot;. To fully activate	your	account	please	click	the	button	below.	If you have recieved this email in error please notify the  Transportation Department at (617) 635-9520, Monday through Friday: 8:30 a.m. - 5:00 p.m.</p>
<h1>&nbsp;</h1>
									  <div>
									    <h2>Real-time school bus locations anytime, anywhere.</h2>
</div>

                        <%= link_to confirmation_url(@resource, :confirmation_token => @resource.confirmation_token), do %>
                            <img src="http://schoolbus.heroku.com/images/email/blackbutton.png" width="120" height="39" align="right">
                        <% end %>
						<br></td>
						  </tr>
								<tr style="margin: 0; padding: 0; border: 0;">
								  <td align="right" style="margin: 0; padding: 0; border: 0;"><span style="font-family: Helvetica, Arial, sans-serif; font-size: 15px; color: #949494; text-align: left;">Or <%= link_to 'click here', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %> to activate your account.</span></td>
						  </tr>
								<tr style="margin: 0; padding: 0; border: 0;">
								  <td height="51" style="margin: 0; padding: 0; border: 0;">&nbsp;</td>
						  </tr>
					  </table>
	  <br/>
</td>
					<td style="margin: 0; padding: 0; border: 0;" width="29"></td>
				</tr>
				<tr height="25" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
			</table>
    			
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr height="69" style="margin: 0; padding: 0; border: 0;">
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td> 
    			<td style="padding: 0; border: 0; margin: 0; background: #B9B9B9 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/footer.jpg);" bgcolor="#B9B9B9" width="601"><table cellspacing="0" border="0" style="padding: 0; border: 0; margin: 0;" cellpadding="0" width="601">
				<tr height="12" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;" width="85"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;" width="85"></td></tr>
				<tr height="40" style="margin: 0; padding: 0; border: 0;">
					<td style="margin: 0; padding: 0; border: 0;"></td>
					<td align="center" style="padding: 0; font-size: 12px; line-height: 22px; border: 0; color: #eeeeee; margin: 0; font-family:Helvetica,Arial,sans-serif">Made by <a href="http://codeforamerica.org/">Code for America</a> in partnership with the <a href="http://www.newurbanmechanics.org/">City of Boston</a></td>
					<td style="margin: 0; padding: 0; border: 0;"></td>
				</tr>
				<tr height="12" style="margin: 0; padding: 0; border: 0;"><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td><td style="margin: 0; padding: 0; border: 0;"></td></tr>
			</table>
    			</td>
    			<td style="margin: 0; padding: 0; border: 0;">
    			</td>
    		</tr>
    		<tr height="90" style="margin: 0; padding: 0; border: 0;">
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/bottom-1.jpg);">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/bottom-2.jpg);" width="601">
    			</td>
    			<td style="padding: 0; border: 0; margin: 0; background: #797979 url(file:///Macintosh%20HD/Users/kmacedo04/Downloads/tech/html/images/bottom-3.jpg);">
    			</td>
    		</tr>
    	</table>
	</td>
  </tr>
</table>

</body></html>